/* Place CSS styles here */


h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

